/* ---------------------------------------------------
   GLOBAL STYLES
----------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #f8f9fa;
    color: #222;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Containers */
.container {
    width: 90%;
    max-width: 1200px;
    margin:
